<section class="container-fluid py-5" id="contact">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white title-section">Contato</h1>
          <h1 class="position-absolute text-uppercase text-danger">Contato</h1>
      </div>
      <div class="row justify-content-center ">
          <div class="col-lg-8">
               <div class="contact-form text-center">
                  <div id="success" class="alert alert-success" [class.emailShow]="emailSent">Enviado com sucesso</div>
                  <div id="danger" class="alert alert-danger" [class.emailShow]="emailNotSent">Erro ao enviar, preencha todos os campos</div>
                  <form method="post">
                      <div class="row">
                          <div class="control-group col-sm-6">
                              <input type="text" class="form-control p-4" id="emailName" name="emailName" placeholder="Seu nome" [(ngModel)]="email.emailName" required data-validation-required-message="Preencha seu nome">
                              <p class="help-block text-danger"></p>
                          </div>

                          <div class="control-group col-sm-6">
                            <input type="email" class="form-control p-4" id="emailFrom" name="emailFrom" placeholder="Seu e-mail" required data-validation-required-message="Preencha seu e-mail" [(ngModel)]="email.emailFrom">
                            <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="control-group">
                          <input type="text" class="form-control p-4" id="emailSubject" name="emailSubject" placeholder="Assunto" required data-validation-required-message="Preencha com assunto" [(ngModel)]="email.emailSubject">
                        <p class="help-block text-danger"></p>
                      </div>
                      <div class="control-group">
                        <textarea class="form-control py-3 px-4" rows="5" name="message" id="message" placeholder="Mensagem" required [(ngModel)]="email.emailMessage"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger" type="button" id="sendMessageButton" (click)="create()">Enviar Mensagem</button>
                    </div>
                  </form>
               </div>
          </div>
      </div>
  </div>
</section>

