.title-service{
  padding-bottom: 30px;
}
.service-icon{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.service-area{
  box-shadow: 0 1px 7px rgba(0,0,0,.1);
  padding: 15px;
  padding-inline: 30px;
  margin-left: 20px;

  &:hover{
    box-shadow: 0 1px 13px rgb(27,27,27);
  }

}
