<section class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white title-section">Sobre</h1>
            <h1 class="position-absolute text-uppercase text-danger">Sobre</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img src="assets/images/about.jpg" alt="sobre mim" class="img-fluid rounded w-100">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Desenvolvedor de Software</h3>
                <p>Meu nome é Dilson Campêlo, sou um programador, possuo experiência no mercado e em projetos pessoais. Desenvolvimento voltado para Web, criação de API's, sites e sistemas. Foco em segurança, modernidade e qualidade.</p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2">
                        <h6>Nome: <span class="text-secondary">Dilson Campêlo</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                      <h6>Formação: <span class="text-secondary">Técnico em Informática - IFRN</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                      <h6>E-mail: <span class="text-secondary"><a href="mailto:dilson.contato316@gmail.com">dilson.contato316@gmail.com</a></span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                      <h6>Profissão: <span class="text-secondary">Programador - Conted.Tech</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                      <h6>Cidade: <span class="text-secondary">Açu</span></h6>
                    </div>
                    <div class="col-sm-6 py-2">
                      <h6>Estado: <span class="text-secondary">Rio Grande do Norte</span></h6>
                    </div>
                </div>
                <a href="" class="btn btn-outline-danger"><i class="fa-solid fa-circle-info"></i> Saiba mais</a>
                <a href="#contact" class="btn btn-outline-danger ms-4"><i class="fa-solid fa-envelope"></i> Contato</a>
            </div>
        </div>
    </div>
</section>
