<div class="container-fluid bg-danger text-white mt-5 py-1 px-sm-1 px-md-5">
    <div class="container text-center py-5">
        <div class="d-flex justify-content-center mb-4">
            <a href="https://github.com/dilsoncampelo10" target="_blank" class="btn btn-light btn-social me-2">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/dilson10/" target="_blank" class="btn btn-light btn-social me-2">
                <i class="fab fa-linkedin-in"></i>
            </a>

        </div>
        <div class="d-flex justify-content-center mb-3">
            <p  class="text-white">
                &copy; Dilson Campêlo
            </p>

        </div>
    </div>
</div>
