<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light py-3 py-lg-0 px-lg-5" [class.navShow]="isScrolled">
  <a href="/" class="navbar-brand ml-lg-3"  style="flex: 1;">
      <h1 class="m-0 display-5">
          <span class="text-danger"><i class="fa-solid fa-not-equal"></i> Dil</span>son
      </h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse" style="flex: 1;">
      <div class="navbar-nav m-auto py-0">
          <a href="#home" class="nav-item nav-link active">Home</a>
          <a href="#about" class="nav-item nav-link ">Sobre</a>
          <a href="#experience" class="nav-item nav-link ">Experiência</a>
          <a href="#skill" class="nav-item nav-link ">Habilidades</a>
          <a href="#service" class="nav-item nav-link ">Serviços</a>
          <a href="#project" class="nav-item nav-link ">Projetos</a>
      </div>
      <a href="#contact" class="btn btn-menu d-none d-lg-block" style="background-color: #dc3545; color: #fff;">
        <i class="fa-solid fa-envelope"></i> Contato
      </a>
  </div>
</nav>
