<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light py-3 py-lg-0 px-lg-5" [class.navShow]="isScrolled">
  <a href="/" class="navbar-brand ml-lg-3"  style="flex: 1;">
      <h1 class="m-0 display-5">
          <span class="text-danger"><i class="fa-solid fa-not-equal"></i> Dil</span>son
      </h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="collapseNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="offcanvas offcanvas-end px-lg-3"  tabindex="-1" id="offcanvasNavbar"  style="flex: 1;">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dilson</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

      <div class="offcanvas-body align-items-center">
        <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <a *ngFor="let item of menuItems" [class.active]="item.id === activeMenuItem"
             class="nav-item nav-link" [href]="'#' + item.id">{{ item.label }}</a>
        </div>
        <a href="#contact" class="btn btn-menu d-none d-lg-block" style="background-color: #dc3545; color: #fff;">
          <i class="fa-solid fa-envelope"></i> Contato
        </a>
      </div>
  </div>
  <a href="#home">
    <div class="btn btn-dark up-button">
      <i class="fa-solid fa-circle-up"></i>
    </div>
  </a>
</nav>
