<header class="container-fluid bg-danger d-flex align-items-center mb-5 py-5" style="min-height: 100vh;" id="home">
  <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 text-center text-lg-start">
            <h3 class="text-white fw-normal mb-3">Olá, Mundo!</h3>
            <h1 class="display-3 text-uppercase text-danger" id="title">Meu nome é Dilson</h1>
            <div class="typed-text blinking">
                Desenvolvedor de Software Desenvolvedor Back-End, Desenvolvedor PHP/Laravel, Desenvolvedor Java/Spring
            </div>
            <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                <a href="assets/pdf/curriculo-dilson.pdf" download class="btn btn-white ">Baixar Currículo</a>
                <a href="https://www.linkedin.com/in/dilson10/" target="_blank" class="btn btn-red d-none d-sm-block ms-4">Linkedin</a>
            </div>
        </div>
        <div class="principal-image col-lg-5 px-8 pl-lg-0 pb-5 pb-lg-4">
            <img src="assets/images/prog.png" alt="" class="img-fluid w-100 shadow-sm">
        </div>
      </div>
  </div>
</header>
