<section class="container-fluid py-5" id="project">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white title-section">Projetos</h1>
          <h1 class="position-absolute text-uppercase text-danger">Projetos</h1>
      </div>

      <div class="row project-area">
          <div class="col-lg-4 col-md-6 mb-4 project" *ngFor="let project of projects">
              <div class="position-relative overflow-hidden mb-2">
                  <img class="img-fluid rounded w-100" src="https://images.musement.com/cover/0001/100/predator-v5-jpg_header-99107.jpeg" alt="d">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="project-button bg-danger d-flex align-items-center justify-content-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#imagem" class="btn-more">
                            <i class="fa fa-plus text-white" style="font-size: 30px;"></i>
                        </a>

                    </div>
                    <div>
                      <i class="fa-brands fa-angular" style="color: #ec0455; font-size: 30px;"></i>
                      <i class="fa-brands fa-java" style="color: #3878e5;  font-size: 30px;"></i>
                    </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <app-modal></app-modal>
</section>
