<section class="container-fluid py-5" id="project">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white title-section">Projetos</h1>
          <h1 class="position-absolute text-uppercase text-danger">Projetos</h1>
      </div>

      <div class="row project-area">
          <div class="col-lg-4 col-md-6 mb-4 project" *ngFor="let project of projects; let i = index;">
              <div class="position-relative overflow-hidden mb-2">
                  <img class="img-fluid rounded w-100" src="assets/images/projects/{{project.image}}" alt="{{project.title}}">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="project-button bg-danger d-flex align-items-center justify-content-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#imagem" class="btn-more" (click)="openModal(i)">
                            <i class="fa fa-plus text-white" style="font-size: 20px;"></i>
                        </a>

                    </div>
                    <div>
                      <i class="fa-brands fa-github"></i> <a href="{{project.link}}" target="_blank" class="text-decoration-none text-dark"><strong> {{project.title}}</strong></a>
                    </div>
                    <div>
                      <i class="{{project.icons[0]}} me-2" style="font-size: 30px;"></i>
                      <i class="{{project.icons[1]}}" style="font-size: 30px;"></i>
                    </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <app-modal [project]="projects[selectedProjectIndex]"></app-modal>
</section>

