@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Roboto:wght@300;400;500;700;900&display=swap');


body{

  font-family: 'Roboto', sans-serif;
}

.title-section{
  -webkit-text-stroke: 1px #c5c9ce;
}
.btn{
  padding: 10px 25px;
  border-radius: 100px;
}
.btn-white, .btn-white:hover,.btn-red:hover{
  background-color: #fff;
  border: 2px solid #fff;
}
.btn-red{
  border: 2.4px solid #fff;
  color: white;
}
