.exp-circle{
  font-size: 22px;
  top: 2px;
  left: -35px;
}
#experience{
  background-image: url('../../../assets/images/circuits.png');
  background-repeat: no-repeat;
  background-position: right center;
}
